:root {
	/* default values */
	--bg-color: rgb(0, 0, 0);
	--theme-font: 'Unbounded', cursive;
	--theme-font-color: lightgray;

	/* player1 */
	--player-1-color: rgb(191, 0, 255);

	/* player2 */
	--player-2-color: rgb(0, 255, 123);
}

/* game board table */

html {
	background-color: var(--bg-color);
	margin-top: 0px;
	margin-left: 0px;
}
body {
	margin: 0;
	padding: 0;
}
#page {
	position: relative;
	top: 0px;
	left: 0px;
}
/* header */
div#header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-content: space-evenly;
	box-sizing: border-box;
	padding-bottom: 10px;
	width: 100vw;
	height: 8vh;
}

#header-left {
	/* background-color: blue; */
	width: 25vw;
}
#header-left a {
	font-family: var(--theme-font);
	color: black;
	font-size: 2.5vh;
	padding: 10px;
	font-weight: 900;
	position: absolute;
	top: 5px;
	left: 30px;
	width: 10vw;
	margin: 0;
	text-decoration: none;
	text-align: center;
	background: #001aff;
	border: 4px dotted lightgray;
}
#header-left a:hover {
	background-color: #00ffaa;
}

#header-center {
	/* background-color: red; */
	width: 50vw;
}
h1 {
	font-family: var(--theme-font);
	color: var(--theme-font-color);
	font-size: 5.5vh;
	padding: 5px;
	font-weight: 900;
	text-align: center;
	margin: 0;
}

#header-right {
	/* background-color: yellow; */
	width: 25vw;
}
#player-scores {
	position: fixed;
	top: 5px;
	right: 30px;
	height: 5.5vh;
	width: 12vw;
	padding: 10px;
	margin: 0;
	background: #001aff;
	border: 4px dotted lightgray;
}
.player-score-span {
	font-family: var(--theme-font);
	font-size: 2vh;
	position: relative;
	top: 3px;
	right: 3px;
	width: 12vw;
	margin: 0;
	font-weight: 900;
	position: relative;
	display: inline-block;
	text-align: center;
}
#player1-score {
	color: var(--player-1-color);
	padding-bottom: 0px;
}
#player2-score {
	color: var(--player-2-color);
	padding-top: 0px;
}
#reset {
	position: fixed;
	display: inline-block;
	top: 5px;
	right: 30px;
	width: 15vw;
	height: 9vh;
	color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	border: 4px solid rgba(0, 0, 0, 0);
	font-family: var(--theme-font);
	font-size: 18px;
	padding: 20px;
	padding-bottom: 20px;
	font-weight: 900;
	text-align: center;
}

#reset:hover {
	color: black;
	background-color: #00ffaa;
	border: 4px dotted white;
	z-index: 1;
	cursor: pointer;
}

div#game {
	margin: auto;
	width: 100vw;
}

table {
	margin: 0 auto;
	width: 60vw;
	max-height: 80vh;
	aspect-ratio: 1 / 1;
}

#board td {
	width: 50px;
	height: 50px;
	border: solid 5px #001aff;
	position: relative;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
	/* TODO: make into circles */
	margin: 0 auto;
	width: 80%;
	height: 80%;
	border-radius: 50%;
}

div.player1 {
	background-color: var(--player-1-color);
}

div.player2 {
	background-color: var(--player-2-color);
}

/* column-top is table row of clickable areas for each column */

#column-top td {
	border: dashed 1px lightgray;
	padding: 0px;
}

.triangle-down {
	font-size: 5rem;
	font-weight: 800;
	margin: 0 auto;
	color: lightgray;
	text-align: center;
}
div.triangle-down:hover {
	color: #0fa;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
		0 0 82px #00ffaa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

/* end of game pop-up */

.show {
	display: block;
}

.game-over-popup {
	display: none;
}

.game-over {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: var(--theme-font);
	font-weight: 700;
	font-size: 50px;
	width: 60%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: 4px dotted lightgray;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 3;
}

.new-game {
	width: 50%;
	height: 150px;
	font-family: var(--theme-font);
	font-weight: 700;
	font-size: 50px;
	color: white;
	border-radius: 20px;
	margin: 0;
	padding: 0px;
	left: 50%;
	background-color: black;
	border: 4px dotted white;
}

.new-game:hover {
	background-color: white;
	color: black;
}

#score {
	padding: 0px;
}
